
@font-face {
    font-family: Monopoly;
    src: url('Monopoly.ttf');
}

body {
    background-color: azure;
    font-family: Monopoly;
    text-align: center;
}

h1 {
    text-align: center;
}

p#join-failure-message {
    color: red;
    font-style: italic;
}

button {
    font-family: Monopoly;
}

p.label {
    text-align: left;
}

div.card {
    width: 120px;
    height: 192px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
}

p {
    border: 1px solid black;
}

.card-type {
    text-align: center;
}

p.value {
    font-weight: bold;
    margin: 2px;
    position: relative;
    /* display: block; */
    width: 50%;
}

.value-top-left {
    /* right: 45%; */
    float: left;
    text-align: left;
}

.value-top-right {
    /* left: 45%; */
    float: right;
    text-align: right;
}

.value-bottom-left {
    bottom: 0%;
    right: 45%;
}